.catalog {
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
}

.catalogContainer {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.catalogList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px 30px;
  padding-bottom: 100px;
}

.mark {
  width: 60px;
  height: 60px;
  position: absolute;
  right: -15px;
  top: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 300;
  color: var(--color-dark);
}

.new {
  background-color: var(--color-pink);
}

.sale {
  background-color: var(--color-green);
}

.hit {
  background-color: var(--color-red);
}

.catalog__flower {
  position: absolute;
}

.catalog__flower-one {
  left: 0;
  top: 0;
  z-index: -1;
}

.catalog__flower-two {
  right: 0;
  top: 0;
  z-index: -1;
}

.catalog__green-two {
  left: -50px;
  width: 300px;
  height: 200px;
  bottom: -50px;
}

.catalog__green-three {
  left: 30%;
  width: 40%;
  height: 50px;
  bottom: 0;
  transform: none;
}

.catalog__pink-one {
  right: 0;
  width: 400px;
  height: 400px;
  top: -100px;
}

.catalog__pink-two {
  left: -50px;
  width: 400px;
  height: 400px;
  top: 7%;
  z-index: -2;
}

.catalog__pink-three {
  left: 0;
  width: 300px;
  height: 300px;
  top: 19%;
}

.catalog__pink-four {
  width: 300px;
  height: 400px;
  right: 0;
  bottom: -50px;
}

@media (max-width: 1024px) {
  .catalogContainer {
    flex-direction: column;
  }
  .catalogFiltr {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .catalogFiltr > div {
    width: 30%;
    margin-bottom: 0;
  }
  .catalogFiltr__btn.btn {
    width: 250px;
  }
  .catalog__flower {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .catalogFiltr > div,
  .catalogFiltr__btn.btn {
    width: 44%;
  }
}

@media (max-width: 550px) {
  .catalog__flower,
  .catalogFiltr > div,
  .catalogFiltr__btn.btn {
    width: 100%;
  }
}
