.main-popular {
    margin-top: 100px;
}

.main-popular__desc {
    margin: 30px 0 85px;
    text-align: center;
}

.main-popular__title span {
    margin-left: 45%;
}

.popular {
    margin-bottom: 60px;
}

.popular > img {
    position: absolute;
    top: 37%;
    left: -130px;
    transition: 0.4s;
    cursor: pointer;
}

.popular > img:hover {
    transform: scale(1.1);
}

.popular > img:nth-of-type(2) {
    left: unset;
    right: -100px;
}

.popularCard a::before {
    content: none;
}

.popularCard img {
    height: 450px;
    transition: 0.4s;
    cursor: pointer;
}

.popularCard img:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px 20px rgb(67, 255, 210, 0.5);;
}

.popularCard__text h3 {
    margin: 10px 0;
    font-weight: 20px;
}

.popularCard__text p {
    margin-bottom: 20px;
}

.main-popular__green {
    width: 200px;
    height: 850px;
    left: -26%;
    bottom: -10%;
    transform: rotate(310deg);
}

.main-popular__pink {
    width: 400px;
    height: 400px;
    bottom: 0;
}