.pagination {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination__link {
  color: var(--color-main);
  cursor: pointer;
  transition: 0.4s;
}

.pagination__link::before {
  content: none;
}

.pagination__link:hover {
  color: var(--color-pink);
}

.pagination__link-active {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  border-radius: var(--radius);
  color: var(--color-dark);
  cursor: default;
}

.pagination__link-active:hover {
  color: var(--color-dark);
}
